@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensans.ttf); }

@font-face {
  font-family: "Quicksand";
  src: url(../fonts/quicksand.ttf); }

@font-face {
  font-family: "Anonymous Pro";
  src: url(../fonts/anonymouspro.ttf); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae; }

body::-webkit-scrollbar {
  width: 11px; }

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG); }

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG); }

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 1px solid var(--scrollbarBG); }

:root {
  --primary: #192a56;
  --primary-back: #192a56;
  --secondary: #9c88ff;
  --secondary-alt: #8c7ae6;
  --secondary-back: #a8635b;
  --third: #00a8ff;
  --third-alt: #0097e6;
  --fourth: #a3780f;
  --fourth-back: #6b500a;
  --surface: #002233; }

body {
  background: var(--primary-back);
  -webkit-font-smoothing: antialised;
  text-rendering: optimizeSpeed;
  scrollbar-gutter: stable; }
  body::before {
    content: "";
    display: block;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    width: 300px;
    height: 300px;
    background: linear-gradient(200deg, var(--primary), var(--third));
    border-radius: 50%;
    z-index: -1;
    opacity: 0.4;
    transition: all 300ms ease;
    animation: respiracion 5s ease-in-out infinite alternate; }

@keyframes respiracion {
  from {
    transform: scale(0.5);
    opacity: 0.4; }
  to {
    transform: scale(1.1);
    opacity: 0.2; } }

h1 {
  font-family: "Quicksand", sans-serif; }

h2 {
  font-family: "Quicksand", sans-serif; }

h3 {
  font-family: "Quicksand", sans-serif; }

h4 {
  font-family: "Quicksand", sans-serif; }

h5 {
  font-family: "Quicksand", sans-serif; }

h6 {
  font-family: "Quicksand", sans-serif; }

img {
  width: 100%;
  cursor: pointer;
  transition: all 300ms ease; }
  img:hover {
    filter: brightness(0.4) blur(1px); }

a {
  text-decoration: none;
  color: inherit; }

header {
  display: grid;
  grid-template-columns: 50px 4fr 200px;
  align-items: center;
  padding: 5px 5%;
  height: 3rem; }
  header h2 {
    color: white; }

header .menu {
  position: relative; }
  header .menu i {
    color: white;
    transition: all 300ms ease; }
  header .menu input {
    cursor: pointer;
    position: absolute;
    transform: scale(3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 5; }

.menu_icon {
  transition: all 300ms ease; }

.spacer {
  width: 100%;
  aspect-ratio: 2/1;
  background-image: url(../img/header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -2; }

@media screen and (max-width: 958px) {
  header {
    grid-template-columns: 1fr; }
    header .logo {
      display: none; } }

.menu_checked {
  transform: rotate(270deg); }

.sidebar {
  color: white;
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  transition: all 300ms ease; }
  .sidebar main,
  .sidebar section {
    margin: 10px auto;
    width: 25vw;
    transition: all 300ms ease; }
  .sidebar main {
    padding: 3rem 1rem 0; }
  .sidebar section {
    background-color: var(--secondary); }
    .sidebar section:hover {
      background-color: var(--secondary-alt); }
  .sidebar aside {
    background-color: var(--third);
    padding-left: 2rem;
    transition: all 300ms ease; }
    .sidebar aside:hover {
      background-color: var(--third-alt); }
  .sidebar button {
    width: 100%;
    height: 100%;
    padding: 5%;
    background: none;
    border: none;
    text-align: left;
    font-size: 1rem; }
  .sidebar a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    padding: 1rem; }

.flex main,
.flex section {
  width: 100%;
  margin: 10px auto;
  transition: all 300ms ease; }

.flex main {
  padding: 3rem 1rem 0; }

.flex section {
  background-color: var(--secondary); }
  .flex section:hover {
    background-color: var(--secondary-alt); }

.flex a {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  padding: 1rem; }

@media screen and (max-width: 780px) {
  .menu,
  .sidebar {
    display: none; } }

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px 5%;
  text-align: right;
  color: white;
  z-index: -1; }

.navigation {
  width: 160px;
  display: flex;
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  justify-content: space-between; }
  .navigation a {
    background-color: var(--secondary);
    border-radius: 50%;
    box-shadow: 2px 2px 10px var(--primary);
    padding: 1rem;
    transition: all 300ms ease; }
    .navigation a:hover {
      background-color: var(--secondary-alt); }

.wrapper {
  display: flex;
  height: 100vh;
  color: white; }

.container {
  align-self: flex-start;
  font-size: 1.2em;
  text-align: justify;
  width: 100%;
  max-width: 75ch;
  margin: 3rem auto;
  padding: 1rem;
  transition: all 300ms ease; }
  .container main {
    align-items: center; }

.profile {
  border-radius: 10px; }

.container__filled {
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 4px;
  background-color: #ca54e855;
  backdrop-filter: blur(8px);
  align-items: center;
  margin-bottom: 10rem; }

.grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 2rem; }

.flex {
  display: flex;
  flex-direction: column; }

.toggleInvisible {
  transform: translateX(-100%); }

.center {
  transform: translateX(-12.5vw); }

.invisible {
  display: none; }

i {
  transition: all 300ms ease; }
  i:hover {
    transform: scale(1.5); }

pre,
code {
  display: block;
  background: none;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  max-width: 100%;
  min-width: 100px;
  padding: 0;
  counter-reset: line; }

code p::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: 1px solid #ddd;
  padding: 0 0.5em;
  margin-right: 0.5em;
  color: #888; }

code p {
  font-family: "Anonymous Pro", monospace;
  line-height: 1.15; }

.code {
  border-radius: 5px;
  background-color: var(--surface);
  padding: 1rem; }
  .code h3 {
    margin-bottom: 0.5rem; }

ul {
  padding: 0.5rem 1rem;
  list-style-position: inside; }

.left {
  width: 200px;
  margin-right: 1rem;
  float: left; }

.right {
  width: 200px;
  margin-left: 1rem;
  float: right; }

.question {
  font-family: "Quicksand", cursive;
  margin-bottom: 1rem; }

blockquote {
  padding: 1rem;
  background-color: var(--fourth);
  position: relative;
  border-left: 5px solid var(--fourth-back); }
