section {
  margin: 1rem auto; }

.heading {
  text-align: center;
  padding: 1rem; }

.img_32,
.img_169 {
  display: block;
  width: 90%;
  margin: 1rem auto; }

.img_32 {
  aspect-ratio: 3/2; }

.img_169 {
  aspect-ratio: 16/9; }
