section {
  margin: 1rem auto; }

.heading {
  text-align: center;
  padding: 1rem; }

.question {
  font-family: "Quicksand", cursive;
  margin-bottom: 1rem; }

.img_32,
.img_169 {
  display: block;
  width: 90%;
  margin: 1rem auto; }

.img_32 {
  aspect-ratio: 3/2; }

.img_169 {
  aspect-ratio: 16/9; }

.left {
  width: 200px;
  margin-right: 1rem;
  float: left; }

.right {
  width: 200px;
  margin-left: 1rem;
  float: right; }

blockquote {
  padding: 1rem;
  background-color: var(--fourth);
  position: relative;
  border-left: 5px solid var(--fourth-back); }
