<script type="module" async>
  const block = document.querySelector("#code");
  const path = 'tareas/';
  let name = path + "{{archive}}"; 
  const text = await fetch(name)
    .then(response => response.text())
  
  let lines = text.split('\n');

  for (let i = 0; i < lines.length; i++) {
    block.innerHTML += `<p>${lines[i]}</p>`;
  }
  
</script>
<section class="code">
  <h3>{{archive}}</h3>
  <code id="code"></code>
</section>