<header>
  <section class="logo">
    <img src="img/logo.png" alt="Logo de la Universidad" title="UANL logo" />
  </section>
  <section>
    <h1>Universidad Autónoma de Nuevo León</h1>
    <h2>Facultad de Ingeniería Mecánica y Eléctrica</h2>
  </section>
  <section class="logo">
    <img
      src="img/fime_logo.png"
      alt="Logo de la institución educativa"
      title="FIME logo"
    />
  </section>
</header>
<div class="spacer"></div>