<header>
  {{! <section class="logo">
    <img src="img/logo.png" alt="Logo de la Universidad" title="UANL logo" />
  </section> }}

  <section class="menu">
    <i class="fas fa-bars menu_icon"></i>
    <input type="checkbox" name="menu" id="menu" />
  </section>
  <nav>
    <h2>PIA de Héctor</h2>
  </nav>
  {{! <section class="logo">
    <img
      src="img/fime_logo.png"
      alt="Logo de la institución educativa"
      title="FIME logo"
    />
  </section> }}
</header>
{{! <div class="spacer"></div> }}