<nav class="navigation">
  <a href={{prevHref}}><i class="fas fa-arrow-left"></i></a>
  <a href="index.html"><i class="fas fa-home"></i></a>
  <a href={{nextHref}}><i class="fas fa-arrow-right"></i></a>
</nav>