<aside class="sidebar">
  <main>
    <h3>Menú</h3>
  </main>
  <section>
    <a href="index.html">
      <i class="fas fa-home"></i>
      Índice
    </a>
  </section>
  <section>
    <a href="#">
      <i class="fas fa-user"></i>
      Personales
    </a>
  </section>
  <div>
    <aside>
      <a href="personal1.html">
        Biografía
      </a>
    </aside>
    <aside>
      <a href="personal2.html">
        Pasatiempo
      </a>
    </aside>
    <aside>
      <a href="personal3.html">
        Personaje
      </a>
    </aside>
  </div>

  <section>
    <a href="#">
      <i class="fas fa-book"></i>
      Tareas
    </a>
  </section>
  <div>
    <aside><a href="tarea1.html">Tarea1</a></aside>
    <aside><a href="tarea2.html">Tarea2</a></aside>
    <aside><a href="tarea3.html">Tarea3</a></aside>
    <aside><a href="tarea4.html">Tarea4</a></aside>
    <aside><a href="tarea5.html">Tarea5</a></aside>
    <aside><a href="tarea6.html">Tarea6</a></aside>
    <aside><a href="tarea7.html">Tarea7</a></aside>
    <aside><a href="tarea8.html">Tarea8</a></aside>
    <aside><a href="tarea9.html">Tarea9</a></aside>
    <aside><a href="tarea10.html">Tarea10</a></aside>
    <aside><a href="tarea11.html">Tarea11</a></aside>
    <aside><a href="tarea12.html">Tarea12</a></aside>
    <aside><a href="tarea13.html">Tarea13</a></aside>
    <aside><a href="tarea14.html">Tarea14</a></aside>
    <aside><a href="tarea15.html">Tarea15</a></aside>
    <aside><a href="tarea16.html">Tarea16</a></aside>
    <aside><a href="tarea17.html">Tarea17</a></aside>
    <aside><a href="tarea18.html">Tarea18</a></aside>
    <aside><a href="tarea19.html">Tarea19</a></aside>
    <aside><a href="tarea20.html">Tarea20</a></aside>
    <aside><a href="tarea21.html">Tarea21</a></aside>
    <aside><a href="tarea22.html">Tarea22</a></aside>
  </div>
  <section><a href="contacto">Contacto</a></section>
</aside>