{{#> layout stylesheet='personales'}}
<main class="container">
  <h3>Pasatiempo</h3>
  <img src="img/pasatiempo07.jpeg" alt="Café" class="left">
  <section>
    Hola, esta es la página para explicar mis pasatiempos más importantes que me gustan hacer. 
    Hay muchas cosas que me gustan hacer, que disfruto hacer, pero aquí solo pondré las que considere las que han 
    tenido más impacto en mi persona.
  </section>
  <section>
    <img src="img/pasatiempo01.jpeg" alt="Imágen de unos audífonos" class="right">
    <h4>Música</h4>
    <p>
      La música para mí es lo principal que me gusta hacer, así esté comiendo, me esté levantando, esté ocupado.... 
      Siempre tengo espacio para la música. Me gustan muchos géneros, pero de los cuales yo destacaría: 
      <ul>
        <li>Música clásica</li>
        <li>Electrónica</li>
        <li>Rock y Alternativo</li>
        <li>Hip Hop</li>
      </ul>
    </p>
  </section>
  <iframe src="https://www.youtube.com/embed/TO7raJnBXtQ" class="img_169" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <img src="img/pasatiempo02.jpeg" alt="Imágen de partitura" class="img_32">
  <section>
    <img src="img/pasatiempo03.jpeg" alt="Imágen de violín" class="left">
    <h4>Violín</h4>
    <p>
      El violín es uno de mis instrumentos favoritos. Todo esto empezó desde que en mi secundaria tenía la clase de música, 
      en la cuál aprendí muchas cosas sobre varios instrumentos. Esto me hizo enamorarme del violín y otros instrumentos.
    </p>
  </section>
  <section>
    <h3 class="question">¿Porqué decidiste tocar el violín en vez de otros instrumentos?</h3>
    <blockquote>
      El violín fue para mí un instrumento sencillo de transportar, y que no requería mucho dinero para comprar uno. 
      También se ve como un instrumento fácil de tocar, pero después de muchos años me doy cuenta que estaba equivocado. 
      El violín tiene un sonido que a mi me gusta mucho, y aunque hay otros instrumentos que me gustaría tocar, creo que 
      el mejor que pude haber escogido es el violín.
    </blockquote>
  </section>
  <section>
    <h3>Programación</h3>
    <img src="img/pasatiempo04.jpeg" alt="Imágen representativa a la Programación" class="right">
    <p>
      La programación es para mí otra área que me gusta demasiado desde que tengo memoría. 
      Todo empezó cuando abrí una página de internet y por error le dí click en 'Inspeccionar elemento', lo cual desplegó 
      código que no entendía en lo más mínimo. Esto hizo que me interesara por la programación web, aunque despueś me dí 
      cuenta que hay muchos tipos de programación.
    </p>
  </section>
  <img src="img/pasatiempo05.jpeg" alt="Imagen de un Programador" class="img_32">
  <section>
    <h3 class="question">¿Cuál es tu lenguaje preferido?</h3>
    <blockquote>
      Mi segundo lenguaje y primero en aprender por mi cuenta fue JavaScript. Lo menciono aquí porque es el que más me 
      ha gustado por su versatilidad. 
    </blockquote>
  </section>
  <section>
    <img src="img/pasatiempo06.jpeg" alt="Imagen de un sketch" class="right">
    <h3>Diseñar</h3>
    <p>
      El diseño es otra de las cosas que más me gusta hacer. Diseñar para mí es combinar la programación con una interfaz, 
      y generalmente lo que más me gusta es diseñar páginas web.
    </p>
  </section>
  <section>
    <img src="img/pasatiempo08.jpeg" alt="Imagen de una laptop" class="left">
    <h3>Las computadoras</h3>
    <p>
      Aparte de programar, otra de las cosas que me gusta tanto hacer es investigar cosas sobre computadoras, más concreto en Hardware y 
      cosas de personalización. Me gusta probar sistemas operativos, ver las capacidades de cada uno.
    </p>
  </section>
  <img src="img/pasatiempo09.jpeg" alt="VS Code" class="img_32">
  <section>
    <h3>Jugar</h3>
    <p>
      Esta es una de las actividades que disfruto en mis tiempos libres de programar. Me gusta mucho porque siento que me ayuda a ser 
      un poco más creativo en mis diseños, y puedo agarrar cosas de ello.
    </p>
  </section>
  <img src="img/pasatiempo10.jpeg" alt="Foto de un teclado con un mouse" class="img_32">
</main>

{{> nav prevHref='personal1.html' nextHref='personal3.html' }}
{{/layout}}