{{#> layout stylesheet='personales'}}
<main class="container">
  <h2>Biografía</h2>
  <section>
    <p>
      Nací el 05 de Diciembre del 2002 en Nuevo León. Actualmente estudio la carrera de 
      <em>Ingeniero en Tecnologías de Software</em> en la <strong>Facultad de Ingeniería Mecánica y Eléctrica</strong>
      de la <b>Universidad Autónoma de Nuevo León</b>. También estudio <em>Violín</em> en la <b>Filarmónica Juvenil de Nuevo León</b>.
    </p>
  </section>
  <img class="img_32" src="img/bio.jpg" alt="Foto de Héctor" title="Foto de Biografía" >
  <section>
    <p class="question">
      ¿Porqué quisiste estudiar programación? 
    </p>
    <blockquote>
      Cuando era un niño, la primera vez que vi una computadora me dió mucha curiosidad ver el cómo estaba formada por dentro.
      El ver código HTML por primera vez, quería profundizar más en el tema, y quería llegar a conocer el porqué al momento de poner una etiqueta, 
      se imprimiera en la pantalla.
    </blockquote>
  </section>
  <img src="img/bio1.jpg" alt="Computadora" title="Computadora" class="img_169">
  <section>
    <p>
      Mi vida empezó a tomar sentido cuando tuve mis primeras clases de programación. Tanto fue así que seguí estudiando por mi propia cuenta.
      Al momento de tener esas clases, empecé a ver que hay distintos tipos de lenguajes, y cada uno para cada uso.
    </p>
    <p>
      Conocí un poco de <em>CSS</em>, <em>JS</em>, y con el tiempo fui viendo que me gustaba demasiado...
    </p>
  </section>
  <img class="img_32" src="img/bio2.jpg" alt="Foto de Héctor" title="Foto de Biografía" >
</main>

{{> nav prevHref='personales.html' nextHref='personal2.html' }}
{{/layout}}