{{#> layout stylesheet='personales'}}
<main class="container">
  <h2>Personales</h2>
  <main class="flex">
    <section class="touchable"><a href="personal1.html">Personales 1</a></section>
    <section class="touchable"><a href="personal2.html">Personales 2</a></section>
    <section class="touchable"><a href="personal3.html">Personales 3</a></section>
  </main>
  
</main>

{{> nav prevHref='index.html' nextHref='tarea1.html' }}
{{/layout}}