{{#> layout stylesheet='tareas'}}
<main class="container">
  <main class="container__filled">
  <h2>Tarea 9: R</h2>
  <p>
    R es un entorno de software libre (licencia GNU GLP) y lenguaje de programación interpretado, es decir, ejecuta las instrucciones directamente, sin una previa compilación del programa a instrucciones en lenguaje máquina. El término entorno, en R, se refiere a un sistema totalmente planificado y coherente, en lugar de una acumulación de herramientas específicas e inflexibles, como suele ser el caso en otros softwares de análisis de datos.
  </p>
  <section>
    <h3>Símbolos</h3>
    <p>
      Operaciones con números reales y complejos
    </p>
    <p>
      R es un lenguaje interpretado, es decir podemos escribir órdenes y R las ejecutará inmediatamente.

      De hecho puede utilizar R como una calculadora, ya que es capaz de manejar todas las operaciones elementales: suma, resta, multiplicación, división y potenciación, que se realizan mediante los símbolos: + , - , * , ^ .
    </p>
    <code class="code">
      # R como calculadora
      2+3
    </code>
    <p>Es importante saber que R no evalúa una expresión hasta que tiene la certeza de que se ha terminado su escritura; por ejemplo, si la expresión comienza con un paréntesis, se debe cerrar la expresión con otro paréntesis, sino R considerará que no terminó la acción, igualmente corchetes, llaves etc. En general, para cualquier función, su escritura sin los paréntesis indican al lenguaje que debe devolver la definición, en tanto que al incluir paréntesis, le indica que intente ejecutarla.</p>
    <code class="code">
      15/3
    </code>
    <p>
      Funciones usuales
    </p>
    <p>R proporciona las funciones usuales para hacer todo tipo de evaluaciones básicas, tales como: suma, raíz cuadrada, valor absoluto, senos, cosenos, logaritmo natural, exponencial, entre otras</p>
    <ul>
      <li>sum( ): Suma de los elementos</li>
      <li>sqrt( ): Raíz cuadrada.</li>
      <li>abs( ): Valor absoluto.</li>
      <li>sin( ), cos( ), …: Funciones trigonométricas.</li>
      <li>log( ), exp( ): Logaritmo y exponencial.</li>
      <li>round( ): Redondeo de valores numéricos.</li>
    </ul>
    <p>Operadores Comparativos y Lógicos</p>
    <p>Operadores de Relación:</p>
    <table class="table">
      <tr>
        <th>Símbolo</th>
        <th>Relación</th>
      </tr>
      <tr>
        <th><</th>
        <td>Mayor qué</td>
      </tr>
      <tr>
        <th>></th>
        <td>Mayor qué</td>
      </tr>
      <tr>
        <th>>=</th>
        <td>Menor o igual qué</td>
      </tr>
      <tr>
        <th>>=</th>
        <td>Mayor o igual qué</td>
      </tr>
      <tr>
        <th>=</th>
        <td>Igual</td>
      </tr>
      <tr>
        <th>!=</th>
        <td>Diferente</td>
      </tr>
    </table>
    <p>Operadores Lógicos:</p>
    <table class="table">
      <tr>
        <th>Símbolo</th>
        <th>Lógicos</th>
      </tr>
      <tr>
        <th>!x</th>
        <td>Negación</td>
      </tr>
      <tr>
        <th>x & y</th>
        <td>Conjunción</td>
      </tr>
      <tr>
        <th>x && y</th>
        <td>Igual</td>
      </tr>
      <tr>
        <th>x | y</th>
        <td>Disyunción</td>
      </tr>
      <tr>
        <th>x || y</th>
        <td>Igual</td>
      </tr>
    </table>
  </section>
  <section>
    <h3>Sintaxis</h3>
    <p>La sintaxis de R es muy parecida a un lenguaje de programación tradicional:</p>
    <code class="code">
      <p># A continuación se crea la función media</p>
      <p>media<-function(x=NA)</p>
      <p>{</p>
      <p>	x<-x[!is.na(x)]</p>
      <p>	sum(x)/length(x)</p>
      <p>}</p>
      <p>media(c(2,4,1,3,6,7))</p>
      <p></p>
    </code>
  </section>
  <section>
    <h3>Esqueleto</h3>
    <p>
      Este lenguaje de programación normalmente tiene los programas encapsulados en funciones. 
      Estas funciones pueden ser invocadas con una librería, pero también se necesitará instalarla. 
      Para esto, podemos ejecutar los siguientes comandos:
    </p>
    <code class="code">
      install.packages("deldir", dep=T) # Para la triangulación de Delaunay y teselación de Dirichlet junto con todas las dependencias
    </code>
    <code class="code">
      library("deldir") # Para el ejemplo anterior.<br/>
      library('Benchmarking') # Para el [[Análisis de Datos Envolvente]]<br/>
      require(maps) # Para elaborar mapas. Previa instalación.<br/>
      require('plot3D') # Para elaborar mapas 3D. Previa instalación.<br/>
    </code>
  </section>
  <section>
    <h3>Aplicación a descargar para editar y ejecutar</h3>
    <p>
      R forma parte de un proyecto colaborativo y abierto. Sus usuarios pueden publicar paquetes que extienden su configuración básica. Existe un repositorio oficial de paquetes cuyo número superó en otoño de 2009 la cifra de los 2000.
    </p>
    <p>
      Dado el enorme número de nuevos paquetes, estos se han organizado en vistas (o temas), que permiten agruparlos según su naturaleza y función. Por ejemplo, hay grupos de paquetes relacionados con estadística bayesiana, econometría, series temporales, etc.
    </p>
    <p>
      Para facilitar el desarrollo de nuevos paquetes, se ha puesto a servicio de la comunidad una forja de desarrollo que facilita las tareas relativas a dicho proceso.
    </p>
    <p>
      R se puede descargar en Windows, Linux y Mac OS desde el siguiente enlace:
    </p>
    {{> link link='https://cran.r-project.org/' }}
  </section>
  <section>
    <h3>Tipo de paradigma</h3>
    <p>
      R es un lenguaje de programación con enfoque al análisis estadístico. Tiene múltiples paradigmas, de los que se consideran 
      el funcional, vectorial, imperativo, y procedural.
    </p>
  </section>
  </main>
  <code class="code">
    <h3>Factorial de un número en R</h3>
    <p>#Factorial de un número</p>
    <p>factorial<-function(n)</p>
    <p> {</p>
    <p> f<-1</p>
    <p> if(n>1)</p>
    <p> for(i in 1:n)</p>
    <p> f<-f*i</p>
    <p> return(f)</p>
    <p> }</p>
    <p>factorial(3)</p>
  </code>
  <main class="container__filled">
  <h2>Bibliografía</h2>
  <section>
    {{> link link='https://www.r-project.org/' }}
    {{> link link='https://www.unir.net/ingenieria/revista/lenguaje-r-big-data/' }}
    {{> link link='https://rstudio-pubs-static.s3.amazonaws.com/215332_188c0491b64a46f9b38d5d0768a7469f.html' }}
  </section>
  </main>
</main>
{{> nav prevHref='tarea8.html' nextHref='tarea10.html' }}
{{/layout}}
