{{#> layout stylesheet='tareas'}}
<main class="container">
  <main class="container__filled">
  <h2>Tarea 3</h2>
  <section>
    <h3>Lorem</h3>
  </section>
  <section>
    <h2>Bibliografía</h2>
    {{> link link='https://sites.google.com/site/portafoliodigitalguillermina/tema-1-fundamentos-de-programacion/1-2-clasificacion-de-los-tipos-de-lenguajes-de-programacion' }}
  </section>
  </main>
</main>
{{> nav prevHref='tarea1.html' nextHref='tarea3.html' }}
{{/layout}}



