{{#> layout stylesheet='tareas'}}
<main class="container">
  <main class="container__filled">
  <h2>Tarea 6: Python</h2>
  <section>
    <h3>Símbolos</h3>
  </section>
  <section>
    <h3>Sintáxis</h3>
  </section>
  <section>
    <h3>Esqueleto</h3>
  </section>
  </main>
  <main class="container__filled">
  <section>
    <h2>Bibliografía</h2>
    {{> link link='' }}
  </section>
  </main>
</main>
{{> nav prevHref='tarea5.html' nextHref='tarea7.html' }}
{{/layout}}

