{{#> layout stylesheet='tareas'}}
<main class="container">
  <main class="container__filled">
  <h2>Tarea 13: PHP</h2>
  <p>PHP (acrónimo recursivo de PHP: Hypertext Preprocessor) es un lenguaje de código abierto muy popular especialmente adecuado para el desarrollo web y que puede ser incrustado en HTML.</p>
  <section>
    <h3>Símbolos</h3>
    <table class="table">
      <thead>
      <tr>
      <th></th>
      <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
      <td><strong>Operadores artiméticos</strong></td>
      <td><strong>Representación</strong></td>
      </tr>
      <tr>
      <td>Suma</td>
      <td>$x + $y</td>
      </tr>
      <tr>
      <td>Resta</td>
      <td>$x - $y</td>
      </tr>
      <tr>
      <td>Multiplicación</td>
      <td>$x * $y</td>
      </tr>
      <tr>
      <td>División*</td>
      <td>$x / $y</td>
      </tr>
      <tr>
      <td>Módulo**</td>
      <td>$x % $y</td>
      </tr>
      <tr>
      <td>Exponenciación</td>
      <td>$x ** $y</td>
      </tr>
      <tr>
      <td>Negación</td>
      <td>-$x</td>
      </tr>
      </tbody>
    </table>
    <h4>Opradores bit a bit</h4>
    <table class="table">
      <tbody>
      <tr>
      <td><strong>Operaciones bit a bit</strong></td>
      <td><strong>Nombre</strong></td>
      </tr>
      <tr>
      <td>$x &amp; $y</td>
      <td>And</td>
      </tr>
      <tr>
      <td>$x</td>
      <td>$y</td>
      <td>Or</td>
      </tr>
      <tr>
      <td>$x ^ $y</td>
      <td>Xor</td>
      </tr>
      <tr>
      <td>~$x</td>
      <td>Not</td>
      </tr>
      <tr>
      <td>$x &lt;&lt; $y</td>
      <td>Shift left (desplazamiento izquierda)</td>
      </tr>
      <tr>
      <td>$x &gt;&gt; $y</td>
      <td>Shift right (desplazamiento derecha)</td>
      </tr>
      </tbody>
    </table>
    <h4>Operadores de comparación</h4>
    <table class="table">
      <thead>
      <tr>
      <th></th>
      <th></th>
      <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
      <td><strong>Ejemplo</strong></td>
      <td><strong>Nombre</strong></td>
      <td><strong>Resultado</strong></td>
      </tr>
      <tr>
      <td>$x == $y</td>
      <td>Igual</td>
      <td>true sean del mismo tipo o no</td>
      </tr>
      <tr>
      <td>$x === $y</td>
      <td>Idéntico</td>
      <td>true sólo si son del mismo tipo</td>
      </tr>
      <tr>
      <td>$x != $y</td>
      <td>Distinto</td>
      <td>true si son diferentes sean del mismo tipo o no</td>
      </tr>
      <tr>
      <td>$x <> $y</td>
      <td>Distinto</td>
      <td>true si son diferentes sean del mismo tipo o no</td>
      </tr>
      <tr>
      <td>$x !== $y</td>
      <td>No idéntido</td>
      <td>true sólo si no son iguales y tampoco del mismo tipo</td>
      </tr>
      <tr>
      <td>$x &lt; $y</td>
      <td>Menor que</td>
      <td>true si $x es menor que y</td>
      </tr>
      <tr>
      <td>$x &gt; $y</td>
      <td>Mayor que</td>
      <td>true si $x es mayor que $y</td>
      </tr>
      <tr>
      <td>$x &lt;= $y</td>
      <td>Menor o igual que</td>
      <td>true si $x es menor o igual que $y</td>
      </tr>
      <tr>
      <td>$x &gt;= $a</td>
      <td>Mayor o igual que</td>
      <td>true si $x es mayor o igual que $y</td>
      </tr>
      </tbody>
    </table>
  </section>
  <section>
    <h3>Sintaxis</h3>
    <p>
      Cualquier cosa fuera de un par de etiquetas de apertura y cierre es ignorado por el intérprete de PHP, lo que permite que los ficheros de PHP tengan contenido mixto. Esto hace que PHP pueda ser embebido en documentos HTML para, por ejemplo, crear plantillas.
    </p>
    <code class="code">
      <p>&lt;?php if ($expresión == true): ?></p>
      <p>  Esto se mostrará si la expresión es verdadera.</p>
      <p>&lt;?php else: ?></p>
      <p>  En caso contrario se mostrará esto.</p>
      <p>&lt;?php endif; ?></p>
    </code>
    <p>
      En este ejemplo, PHP saltará los bloques donde la condición no se cumpla, incluso si están fuera de las etiquetas de apertura/cierre de PHP, los saltará según la condición debido a que el intérprete salta los bloques contenidos dentro de una condición que no se cumpla.
      Para imprimir bloques de texto grandes, es más eficiente abandonar el modo intérprete de PHP que enviar todo el texto a través de echo o print.
    </p>
    <p>
      En PHP 5 existen hasta cinco pares de etiquetas de apertura y cierre diferentes, dependiendo de la configuración de PHP. Dos de estas, &lt;?php ?> y &lt;script language="php"> &lt;/script>, siempre están disponibles. También existe una etiqueta echo abreviada, &lt;?= ?>, que siempre está disponible en PHP 5.4.0 y posteriores.
    </p>
    <p>
      Las otras dos son las etiquetas abreviadas y las etiquetas al estilo de ASP. De por sí, aunque algunos encuentran prácticas, las etiquetas abreviadas y las etiquetas al estilo ASP son menos portables, no recomendándose por lo general.
    </p>
  </section>
  <section>
    <h3>Esqueleto</h3>
    <p>
      El esqueleto se parece muchísimo a HTML normal, ya que PHP por defecto está incrustado en él:
    </p>
    <code class="code">
      <p>&lt;!DOCTYPE html></p>
      <p>&lt;html></p>
      <p>	&lt;head></p>
      <p>		&lt;title>Ejemplo&lt;/title></p>
      <p>	&lt;/head></p>
      <p>	&lt;body></p>
      <p>	&lt;?php</p>
      <p>		echo "¡Hola, soy un script de PHP!";</p>
      <p>	?></p>
      <p>	&lt;/body></p>
      <p>&lt;/html></p>
    </code>
  </section>
  <section>
    <h3>Aplicación a descargar para editar y ejecutar</h3>
    <p>
      Puedes descargar php en varios paquetes y servidores web. Puedes instalar un CGI o un servidor dedicado como 
      Nginx, Apache y otros paquetes como Xampp, Lampp, dependiendo de las tecnologías que quieres usar conjuntamente.
    </p>
    <p>
      En Windows obtienes un archivo de instalación, mientras en los sistemas tipo UNIX, lo puedes conseguir en un gestor de 
      paquetes. La página oficial para descargarlo es:
    </p>
    {{>link link='https://www.php.net/manual/es/install.php'}}
  </section>
  <section>
    <h3>Tipo de paradigma</h3>
    <p>El código PHP suele ser procesado en un servidor web por un intérprete PHP implementado como un módulo, un daemon o como un ejecutable de interfaz de entrada común (CGI). En un servidor web, el resultado del código PHP interpretado y ejecutado —que puede ser cualquier tipo de datos, como el HTML generado o datos de imágenes binarias— formaría la totalidad o parte de una respuesta HTTP. Existen diversos sistemas de plantillas, sistemas de gestión de contenidos y frameworks que pueden emplearse para organizar o facilitar la generación de esa respuesta. Por otra parte, PHP puede utilizarse para muchas tareas de programación fuera del contexto de la web, como aplicaciones gráficas autónomas​ y el control de drones.​ También se puede interpretar y ejecutar un código PHP cualquiera a través de una interfaz de línea de comandos (CLI).</p>
    <p>Su paradigma hoy en día es multiparadigma, ya que se adapta al tipo de programación que necesites, sobre todo la imperativa y orientada a objetos.</p>
  </section>
  </main>
  <code class="code">
    <p>&lt;html></p>
    <p>&lt;head></p>
    <p> &lt;title>ejercicio 4.2&lt;/title></p>
    <p>&lt;/head></p>
    <p>&lt;body></p>
    <p>&lt;?php</p>
    <p>  $n1=1;</p>
    <p>  $n2=2;</p>
    <p>  $suma=$n1+$n2;</p>
    <p>  echo "suma = ".$suma. "&lt;br>";</p>
    <p>  echo "$n1+$n2";</p>
    <p>?></p>
    <p>&lt;/body></p>
    <p>&lt;/html></p>
  </code>
  <main class="container__filled">
  <h2>Bibliografía</h2>
  <section>
    {{> link link='https://www.php.net/manual/es/tutorial.php' }}
    {{> link link='https://www.php.net/manual/es/language.basic-syntax.phpmode.php' }}
    {{> link link='https://diego.com.es/operadores-en-php' }}
    {{> link link='http://index-of.co.uk/Programming/apuntes_php.pdf' }}
  </section>
  </main>
</main>
{{> nav prevHref='tarea12.html' nextHref='tarea14.html' }}
{{/layout}}

