{{#> layout stylesheet='tareas'}}
<main class="container">
  <main class="container__filled">

  <h2>Tarea 1</h2>
  <section>
    <h3>¿Qué es un paradigma</h3>

  </section>
  <section>
    <h3>¿Cuáles son los Paradigmas de los Lenguajes de Programación?</h3>
  </section>
  </main>
  {{> code archive='Hello.java' }}
</main>
{{> nav prevHref='tareas.html' nextHref='tarea2.html' }}
{{/layout}}