{{#> layout stylesheet='tareas'}}
<main class="container">
  <main class="container__filled">
  <h2>Tarea 4</h2>
  <section>
    <h3>Defina los siguientes términos</h3>
  </section>
  <section>
    <h4>Compilador</h4>
    <p>
      Un compilador es un programa informático que traduce un programa escrito en un lenguaje de programación, definido «código fuente»,  a otro lenguaje de alto (COBOL, PASCAL, BASIC, C, etc.), medio o más bajo nivel (código intermedio o código máquina) como puede ser C/C++.
    </p>
    <p>
      Por otro lado, un programa es el conjunto de instrucciones detalladas y codificadas que se dan a un ordenador para que realice o ejecute determinadas operaciones.
    </p>
    <p>
      La importancia de los compiladores radica en que, sin estos programas no existiría ninguna aplicación informática, ya que son la base de la programación en cualquier plataforma. Es más, a partir del mismo código fuente, un compilador tiene la capacidad de producir código máquina en varias plataformas a la vez. 
    </p>
  </section>
  <section>
    <h5>Origen</h5>
    <img src="img/tarea4-01.jpg" alt="Grace Hopper" class="right">
    <p>
      Grace Hopper, Doctora en Matemáticas y Almirante del Ejército Norteamericano.
    </p>
    <p>
      Estaba convencida de que los ordenadores podían llegar a un público más amplio y comercial si los procedimientos para programar se volvían más amistosos y si pudieran ser entendibles para los no matemáticos.
    </p>
    <p>
      Ella pensaba que los ordenadores se tenían que poder escribir en inglés.
    </p>
    <p>
      En 1949, tras seguir su convicción, desarrolló una técnica que traducía los símbolos matemáticos a un código de instrucción binario y que era entendible por la máquina.
    </p>
    <p>
      Esto no era otra cosa sino el primer programa compilador, que fue presentado 3 años más tarde por Hopper y su equipo.
    </p>
    <p>
      Las bases de los lenguajes de programación modernos fueron establecidas desde ese momento.
    </p>
  </section>
  <section>
    <h5>Tipos</h5>
    <ul>
      <li>Analizador: Se habla de «analizador» ya que se encarga de realizar el análisis del código fuente a compilar, lo valida e interactúa con el usuario. Además, suele ser independiente de la plataforma en la que se trabaja.</li>
      <li>Generador: Es la parte del compilador que, a partir de los resultados de análisis, se encarga de generar el código para la máquina según la plataforma específica.</li>
    </ul>
  </section>
  <section>
    <h4>Intérpretes</h4>
    <p>
      Los intérpretes son programas que, a diferencia de un compilador, no leen todo el código primero como un todo, sino que leen cada línea del programa fuente por separado y la ejecutan directamente en la plataforma sin traducir primero el código. De este modo, cada análisis se produce durante la ejecución del programa. Java, por ejemplo, utiliza intérpretes.
    </p>
  </section>
  <section>
    <h5>Origen</h5>
    <p>
      El valor de los intérpretes es que un programa puede saltarse la traducción del código fuente y simplemente ejecutar las instrucciones del código directamente. El trabajo del intérprete es, por lo tanto, implementar exactamente las rutinas que fueron registradas por el desarrollador respectivo.
    </p>
    <p>
      Al interpretar el código fuente, la traducción y la ejecución del código no son pasos separados. La entrada y el código fuente se ejecutan simultáneamente. Cada línea con una instrucción resulta en una acción inmediata por parte del intérprete. Por lo tanto, podría decirse que un intérprete realiza dos pasos al mismo tiempo, es decir, la traducción y la ejecución. Un paso sigue al siguiente en orden lógico de acuerdo con las especificaciones del código fuente.
    </p>
  </section>
  <section>
    <h5>Tipos</h5>
    <ul>
      <li>Interpretación Iterativa</li>
      <li>Interpretación Recursiva</li>
      <li>Intérpretes Puros</li>
      <li>Intérpretes Incrementales</li>
      <li>Evaluadores parciales</li>
    </ul>
  </section>
  <section>
    <h2>Bibliografía</h2>
    {{> link link='https://tech.tribalyte.eu/blog-programa-o-compilador' }}
    {{> link link='https://es.ryte.com/wiki/Int%C3%A9rprete' }}
    {{> link link='http://di002.edv.uniovi.es/~cueva/publicaciones/monografias/35_InterpretesDLP.pdf' }}
  </section>
  </main>
</main>
{{> nav prevHref='tarea3.html' nextHref='tarea5.html' }}
{{/layout}}


