{{#> layout stylesheet='tareas'}}
<main class="container">
  <main class="container__filled">
  <h2>Tarea 14: SQL</h2>
  <p>
    Se trata de un lenguaje fuertemente basado en el inglés, que puede ser utilizado en modo conversacional mediante un intérprete o bien formando parte de un programa desarrollado en un lenguaje de programación anfitrión como C, Cobol, etc. (SQL embebido). La característica relacional más importante de SQL es que permite acceder a los datos sin necesidad de especificar cómo se ha de realizar dicho acceso permitiendo así la "navegación automática" por los datos.
  </p>
  <section>
    <h3>Símbolos</h3>
    <p>
      SQL provee palabras reservadas para este lenguaje, el cual se recomienda ponerlas en mayúsculas para no confundirse, pero 
      en realidad no importa. Normalmente se resaltan con otro color si estás usando un color que soporte el lenguaje.
    </p>
  </section>
  <section>
    <h3>Sintaxis</h3>
    <p>
      Para definir un atributo se debe especificar su nombre, su tipo básico de datos y una sencilla restricción opcional sobre sus posibles valores. El tipo de datos indica el dominio general del atributo, que puede restringirse mediante la restricción opcional.
    </p>
    <code class="code">
      nombre_atributo tipo_atributo restricción_atributo
    </code>
    <p>
      Si no se especifica ninguna restricción sobre el atributo, entonces puede tomar cualquier valor compatible con su tipo de datos, y el valor nulo (null). Las posibles restricciones son:
    </p>
    
  </section>
  <section>
    <h3>Esqueleto</h3>
    <p>
      Este lenguaje no tiene un esqueleto como tal, si no que se divide en oraciones como comúnmente las haríamos en inglés.
    </p>
    <p>
      Los posibles valores son:
    </p>
  <table class="table">
    <TR><TD>PRIMARY KEY</TD>
    <TD>El atributo es clave primaria. Por tanto no acepta valores repetidos ni nulos.</TD></TR>
    <TR><TD>UNIQUE</TD>
    <TD>El atributo no acepta valores repetidos, pero s&iacute; nulos.</TD></TR>
    <TR><TD>NOT NULL</TD>
    <TD>El atributo no acepta valores nulos, pero s&iacute; &uacute;nicos.</TD></TR>
    <TR><TD>CHECK</TD>
    <TD>Restricci&oacute;n arbitraria.</TD></TR>
  </table>
  </section>
  <section>
    <h3>Aplicación a descargar para editar y ejecutar</h3>
    <p>Este lenguaje se puede descargar con varios tipos de Administración de base de datos. Tenemos MySQL, MariaDB, y otros propios como 
      Oracle y Microsoft SQL Server. Cada uno tiene diferente implementación del lenguaje, y nos puede servir en distintos ámbitos.
    </p>
  </section>
  <section>
    <h3>Tipo de paradigma</h3>
    <p>
      El paradigma de este lenguaje es declarativo, pero puede ser usado en cualquier paradigma, por lo que es multiparadigma.
    </p>
  </section>
  </main>
  <code class="code">
    <p>CREATE TABLE provincia (</p>
    <p>codprov NUMBER(2) PRIMARY KEY,</p>
    <p>nomprov CHAR(20) UNIQUE NOT NULL</p>
    <p>);</p>
    <p></p>
    <p>CREATE TABLE alumno (</p>
    <p>num NUMBER(4),</p>
    <p>nombre CHAR(10) NOT NULL,</p>
    <p>apellidos CHAR(20) NOT NULL,</p>
    <p>edad NUMBER(2) CHECK (edad>16),</p>
    <p>codprov NUMBER(2),</p>
    <p>nota NUMBER(4,2) CHECK (nota >=0 AND nota <= 10),</p>
    <p>PRIMARY KEY (num),</p>
    <p>FOREIGN KEY (codprov) REFERENCES provincia</p>
    <p>);</p>
  </code>
  <main class="container__filled">
  <h2>Bibliografía</h2>
  <section>
    {{> link link='http://www.cs.us.es/cursos/bd-2001/temas/sql_I.html' }}
  </section>
  </main>
</main>
{{> nav prevHref='tarea13.html' nextHref='tarea15.html' }}
{{/layout}}

