{{#> layout stylesheet='tareas'}}
<main class="container">
  <main class="container__filled">
  <h2>Tarea 3</h2>
  <section>
    <h3>Definición de: Lenguaje de programación</h3>
    <p>
      En términos generales, un lenguaje de programación es una herramienta que permite desarrollar software o programas para computadora. Los lenguajes de programación son empleados para diseñar e implementar programas encargados de definir y administrar el comportamiento de los dispositivos físicos y lógicos de una computadora. Lo anterior se logra mediante la creación e implementación de algoritmos de precisión que se utilizan como una forma de comunicación humana con la computadora.
    </p>
    <p>
      A grandes rasgos, un lenguaje de programación se conforma de una serie de símbolos y reglas de sintaxis y semántica que definen la estructura principal del lenguaje y le dan un significado a sus elementos y expresiones.
    </p>
  </section>
  <section>
    <h3>Clasificación</h3>
    <p>
      Los circuitos microprogramables son sistemas digitales, lo que significa que trabajan con dos únicos niveles de tensión simbolizados con el cero (0) y el uno (1). Por eso, el lenguaje de máquina utiliza sólo dichos signos.
    </p>
    <p>
      Un lenguaje de bajo nivel es trasladado fácilmente a lenguaje de máquina (la palabra bajo se refiere a la abstracción reducida entre el lenguaje y el hardware).
    </p>
    <p>
      Y los lenguajes de programación de alto nivel se caracterizan por expresar los programas de una manera sencilla.
    </p>
  </section>
  <section>
    <h2>Bibliografía</h2>
    {{> link link='https://programas.cuaed.unam.mx/repositorio/moodle/pluginfile.php/1023/mod_resource/content/1/contenido/index.html' }}
  </section>
  </main>
</main>
{{> nav prevHref='tarea2.html' nextHref='tarea4.html' }}
{{/layout}}

