@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensans.ttf);
}

@font-face {
  font-family: "Quicksand";
  src: url(../fonts/quicksand.ttf);
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(../fonts/anonymouspro.ttf);
}
