header {
  background-color: var(--primary-back);
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: $paddingGlobal;
  & section {
    text-align: center;
  }
  & h1,
  h2 {
    color: white;
  }
}
