header {
  display: grid;
  grid-template-columns: 200px 4fr 200px;
  align-items: center;
  padding: $paddingGlobal;
  height: 20vh;
  & section {
    text-align: center;
  }
  & h1,
  h2 {
    color: white;
  }
  z-index: 5;
}

.spacer {
  width: 100%;
  aspect-ratio: 2/1;
  background-image: url(../img/header.svg);
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -2;
}

@media screen and (max-width: 958px) {
  header {
    grid-template-columns: 1fr;
    & .logo {
      display: none;
    }
  }
}
