header {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: $paddingGlobal;
  height: 25vh;
  & section {
    text-align: center;
  }
  & h1,
  h2 {
    color: white;
  }
}

.spacer {
  width: 100%;
  aspect-ratio: 2/1;
  background-image: url(../img/header.svg);
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
