.wrapper {
  display: flex;
  height: 100vh;
  color: white;
}

.container {
  align-self: flex-start;
  font-size: 1.2em;
  text-align: justify;
  width: 100%;
  max-width: 75ch;
  margin: 3rem auto;
  padding: 1rem;
  transition: $transition;
  & main {
    align-items: center;
  }
}

.profile {
  border-radius: 10px;
}

.container__filled {
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 4px;
  background-color: #ca54e855;
  backdrop-filter: blur(8px);
  align-items: center;
  margin-bottom: 10rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 2rem;
}

.flex {
  display: flex;
  flex-direction: column;
}

.toggleInvisible {
  transform: translateX(-100%);
}

.center {
  transform: translateX(-12.5vw);
}

.invisible {
  display: none;
}

i {
  transition: $transition;
  &:hover {
    transform: scale(1.5);
  }
}
