.navigation {
  width: 150px;
  display: flex;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  justify-content: space-between;
  & a {
    background-color: var(--secondary);
    border-radius: 50%;
    box-shadow: 2px 2px 10px var(--primary);
    padding: 1rem;
    transition: $transition;
    &:hover {
      background-color: var(--secondary-alt);
    }
  }
}
