* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --primary: #192a56;
  --primary-back: #192a56;
  --secondary: #9c88ff;
  --secondary-alt: #8c7ae6;
  --secondary-back: #a8635b;
  --third: #00a8ff;
  --third-alt: #0097e6;
  --surface: #002233;
}

body {
  background-color: var(--primary-back);
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

$paddingVertical: 5px;
$paddingHorizontal: 5%;
$paddingGlobal: $paddingVertical $paddingHorizontal;

$transition: all 300ms ease;

.wrapper {
  display: flex;
  height: 100vh;
  color: white;
  & .container {
    width: 100%;
    max-width: 700px;
    margin: 3rem auto;
    & main {
      align-items: center;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 2rem;
}

.flex {
  display: flex;
  flex-direction: column;
}

.toggleInvisible {
  transition: $transition;
  transform: translateX(-100%);
}

.invisible {
  display: none;
}

i {
  transition: $transition;
  &:hover {
    transform: scale(1.5);
  }
}

@import "header";
@import "sidebar";
@import "footer";
@import "navigation";
