.container {
  font-size: 1.2em;
  text-align: justify;
}

.question {
  font-family: "Quicksand", cursive;
  margin-bottom: 1rem;
}

.img_32,
.img_169 {
  display: block;
  width: 90%;
  margin: 1rem auto;
}

.img_32 {
  aspect-ratio: 3/2;
}

.img_169 {
  aspect-ratio: 16/9;
}

blockquote {
  padding: 1rem;
  background-color: var(--fourth);
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 5px;
    background: linear-gradient(var(--third-alt), var(--secondary));
  }
}
